:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --orange: #ffc002;
    --gray: #f2f2f2;
    --dark-gray: #111111;
    --footer-gray: #383434;
}

body{
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: 20px;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 25px 0;
}

.intro-container{
    background-color: var(--gray);
    height: 110vh;
    width: 100%;
}

.intro-container img{
    margin: 100px 0 0 20vw;
    position: absolute;
    z-index: 1;
    width: 600px;
}

.orange-rectangle{
    background-color: var(--orange);
    text-align: center;
    padding: 50px 50px 30px 200px;
    color: var(--secondary-color);
    position: absolute;
    width: 750px;
    height: 400px;
    margin-left: 30%;
    margin-top: 300px;
    margin-right: 0;
    border-radius: 200px;
}

.orange-rectangle h1{
    font-size: 80px;
    font-weight: 800;
}

.orange-rectangle p{
    padding-left: 20%;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.our-menu{
    width: 75%;
    margin: 50px auto 50px auto;
}

.our-menu span{
    font-size: 30px;
    text-transform: uppercase;
}

.our-menu h2{
    font-size: 50px;
}

.menu-items{
    min-width: 650px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.menu-items > div{
    flex: 1;
}

.menu-item{
    flex: 1;
    min-width: 650px;
    height: 115px;
}

.menu-items h3{
    color: var(--dark-gray);
    font-size: 24px;
    font-weight: normal;
}

.menu-items p{
    font-size: 20px;
    line-height: 1.5;
}

.salads{
    width: 70%;
    margin: 200px auto 20px auto;
}

.salad-items h3{
    color: var(--dark-gray);
    font-size: 24px;
    font-weight: normal;
}

.salad-items{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.salad-items > div{
    flex: 1;
}

.salad-item{
    display: flex;
    height: 400px;
    min-width: 610px;
}

.salad-item img{
    z-index: 1;
    height: 60%;
    margin-top: 20px;
}

.salad-item h4{
    font-size: 50px;
    margin: 20px auto auto auto;
}

.musli{
    background: url("../assets/middle_image.png");
    background-size: cover;
    height: 550px;
    background-position: bottom;
}

.pasta{
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    margin: -100px auto 200px auto;
    width: 60%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.pasta > div{
    flex: 1;
}

.pasta-item{
    flex: 1;
    min-width: 460px;
    height: 200px;
}

.pasta-item h3{
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.pasta-item{
    background-color: white;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
}

.pasta-item p{
    font-weight: lighter;
}

.salads-and-snacks{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.left-side{
    min-width: 450px;
    height: 490px;
}

.right-side{
    min-width: 600px;
    max-width: 700px;
    height: 600px;
}
.right-side img{
    width: 100%;
}

.left-side h2{
    font-size: 65px;
    text-transform: uppercase;
}

.snack-items{
    list-style-type: none;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 20px;
    margin-top: 10%;
    padding: 0;
}

.orange-line{
    height: 10px;
    background-color: var(--orange);
}

.organic-goodness{
    background: url("../assets/organic_goodness.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    background-position: 0 -250px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.organic-goodness-text{
    margin: auto;
    width: 26%; 
}

.organic-goodness h3{
    font-weight: 600;
    font-size: 60px;
}

.people{
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    background-color: var(--gray);
    text-align: center;
}

.people-image img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 20px solid var(--orange);
    width: 15%;
}

.people-name{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: lighter;
}

.subscribe-form{
    background-color: white;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    padding: 0 50px 50px 50px; 
}

.form-div{
    margin-top: 50px;
    padding: 10px 0 50px 0;
    width: 100%;
    background-color: var(--gray);
}

#subscribe-form-main-text{
    font-weight: 900;
    font-size: 70px;
    margin: 10px 0 30px 0;
}

#form-input{
    height: 40px;
    border-radius: 20px;
    border: #ffc002 solid 2px;
    padding-left: 10px;
    font-size: 18px;
}

#form-button{
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1.5px;
    background-color: #ffc002;
    border: none;
}

#twitter-handle{
    color: #ffc002;
    text-decoration: underline #ffc002 2px solid;
}

.footer-div{
    background-color: var(--footer-gray);
    height: 200px;
    text-align: center;
    padding-top: 90px;
    color: white;
}

.prev, .next{
    cursor: pointer;
    top: 570%;
    position: absolute;
    margin-left: -50px;
    margin-right: 425px;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
 
#dot-div{
    text-align: center;
    margin-top: 10px;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

@media (min-width: 1700px){
    .intro-container img{
        scale: 1;
    }
    .orange-rectangle{
        scale: 1;
    }
}

@media (max-width: 1600px){
    .intro-container{
        height: 80vh;
    }
    .intro-container img{
        display: block;
        scale: 1.5;
        margin-left: auto;
        margin-right: auto;
        margin: 450px auto 0 25%;
    }
    .orange-rectangle{
        margin-top: 1000px;
        margin-left: 10%;
        width: 85%;
        padding: 100px 0 0 0;
    }

}